---
import '../../styles/global.css';
import GamePage from '../../components/GamePage';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Pokémon Sword & Shield - NX Controller</title>
  </head>
  <body>
    <GamePage gameId="swsh" gameTitle="Pokémon Sword & Shield" client:load />
  </body>
</html>
