---
import '../styles/global.css';
import MacroEditor from '../components/MacroEditor';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Customize Macro - NX Controller</title>
  </head>
  <body>
    <MacroEditor client:load />
  </body>
</html>
